<div class="main__container main--center">
  <div class="inner__container inner--center">
    <div class="header__container">
      <h2>Inscription</h2>
    </div>
    
    <form class="form" [formGroup]="registerEmailDataFormGroup" (submit)="registerEmail()">
      <div class="input__container">
        <div class="input__data__container">
          <label class="label" for="email">email</label>
          <input class="input" formControlName="email" id="email" type="email" placeholder="mon_email@email.com">
        </div>
  
        <!--erreur message-->
        <div class="text__error__container">
          <p class="text--error" *ngIf="registerEmailDataFormGroup.get('email')?.touched && registerEmailDataFormGroup.get('email')?.errors?.['required']">
            {{ emailMandatoryMessage }}
          </p>
        </div>
      </div>
  
      <input class="button" [disabled]="isSubmitButtonDisable" type="submit" [value]="submitButtonText">
    </form>
  </div>
</div>

