<div>
  <div>
    <h2>Inscription</h2>
  </div>
  
  <form [formGroup]="registerEmailDataFormGroup" (submit)="registerEmail()">
    <div>
      <div>
        <label for="email">email</label>
        <input formControlName="email" id="email" type="email" placeholder="mon_email@email.com">
      </div>

      <!--erreur message-->
      <div *ngIf="registerEmailDataFormGroup.get('email')?.touched && registerEmailDataFormGroup.get('email')?.errors?.['required']">
        <p>{{ emailMandatoryMessage }}</p>
      </div>
    </div>

    <input [disabled]="isSubmitButtonDisable" type="submit" [value]="submitButtonText">
  </form>
</div>

