.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--desktop);
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.friend__email {
  padding: 5px;
}

.friend__button__container {
  display: flex;
}