<div class="friend">
  <div class="friend__inner__container">
    <div class="header__container">
      <a [routerLink]="'/'+friendHomeLink">annuler</a>
      <h2>ajout d'un ami</h2>
    </div> 
    <form class="friend__form"  [formGroup]="addFriendDataFormGroup" (submit)="addFriend()">
      <div class="input__container">
        <div class="input__data__container">
          <label class="label" for="friend">email</label>
          <input class="input" formControlName="email" type="email" id="email" placeholder="email@hotmail.fr">
        </div>
        <!--erreur message-->
        <div>
          <p>{{ inputErrorMessage }}</p>
        </div>
      </div>
  
      <div>
          <input class="button friend--add--button" type="submit" value="ajouter">
      </div>
    </form>
  </div>
</div>