/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'raleWay';
  src: url('./assets/fonts/Raleway.ttf');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'raleway', 'arial', sans-serif;
}

:root {
  /* break point */
  --tablet: 768px;
  --desktop: 1024px;

  --main_color: #FF8A00;

  --nav_height: 80px
}

.button {
  background-color: var(--main_color);
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2px;
  padding: 5px;
  text-decoration: none;
  color: white;
  border-radius: 5px;

}

.button--rounded {
  border-radius: 50%;
}

.trash--image {
  background-image: url("src\assets\images\basket.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}

.validate--image {
  background-image: url("src\assets\images\validate.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
}

.header__container h2 {
  text-align: center;
  width: 100%;
}

.header__container h2::first-letter {
  text-transform: uppercase;
}

.header__container a {
  border: 1px solid var(--main_color);
  text-decoration: none;
  color: var(--main_color);
  border-radius: 5px;
  padding: 2px;
}

.header__container a::first-letter {
  text-transform: uppercase;
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input__data__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label {
  padding: 5px;  
}

.label::first-letter {
  text-transform: uppercase;
}

.input {
  border: 1px solid var(--main_color);
  border-radius: 5px;
  height: 35px;  
}