.menu__container {
  padding: 5px;
  height: calc(100vh - var(--nav_height));
}

.menu__button__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.leave--button {
  margin-top: 90px;
  width: 100%;
  max-width: 768px;
  text-transform: uppercase;
}