<div class="menu__container">
  <div class="header__container">    
    <a [routerLink]="'/'+ homePageLink">annuler</a>
    <h2>compte</h2>
  </div> 
  <div class="menu__button__container">
    <app-menu-item linkName="produits" imageButtonPath="assets\images\food.svg" [link]="homePageLink"></app-menu-item>
    <app-menu-item linkName="amis" imageButtonPath="assets\images\search.svg" [link]="friendPageLink"></app-menu-item>
    <app-menu-item linkName="compte" imageButtonPath="assets\images\valise.svg" [link]="homePageLink"></app-menu-item>
    <app-menu-item linkName="quitter" imageButtonPath="assets\images\leave.svg" (click)="logout()"></app-menu-item>
  </div>
</div>
